{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <section id="detailed-view">
        <div class="container-sm">
            
            <h1>{{ detailed_post.title }}</h1>
            <p>Date: {{ detailed_post.date }} | Author: {{ detailed_post.author|title }}
            {% if user.get_username == detailed_post.author.username %}
                <a href="{% url 'update_post' slug=detailed_post.slug %}" type="button" class="btn btn-outline-dark">Edit</a>
            </p>
            {% endif %}
            <hr>
            <img width="100%"
                 src="{{ detailed_post.image.url }}"
                 alt="{{ detailed_post.title }}">
            <p class="full-blog-text">{{ detailed_post.blog_text }}</p>
        </div>
    </section>
{% endblock %}
