{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>It works</h1>
    {% if login_status %}
        <h2>You are awesome because you are logged in. Your username is: {{ username }}</h2>
        <ul>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <h2>Only the cool kids are logged in</h2>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'compose' %}">Write a Post</a>
        </li>
    </ul>
{% endblock %}
