{% extends 'base.html' %}
{% load static %}
{% block title %}Blog CMS{% endblock %}
{% block content %}

    <section id="latest_posts"> 
        <h1>Latest Posts</h1>
        <div class="container-fluid cards">
            {% for post in latest_posts %}
            <a href="{% url 'detailed_post' author=post.author slug=post.slug %}">
                <div class="card card-latest-posts">
                    <img src="{{ post.image.url }}" width="300" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <h6>Author: {{ post.author|title }}</h6>
                        <p class="card-text">{{ post.blog_text|truncatechars:100 }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
